[2020-05-14 13:50] ChristinaLK opened #3 "creating issue template"
@malvikasharan @mkuzak I don't see our proposal template when I click on "New Issue." Do we need a config.yaml file?

[2020-05-14 13:59] ChristinaLK commented on #3
figured it out - there was a space before the opening yaml. Ha!

[2020-05-14 13:59] #3 closed

[2020-05-18 11:19] serahrono opened #6 "TODO: Create list of labels for issues in this repo"
As per @malvikasharan's request in https://github.com/carpentrycon/carpentryconhome-proposals/pull/1 we need to make a few labels for proposal type, so issues can be tagged by session type.

[2020-05-18 12:32] serahkiburu commented on #6
from May 18 committee meeting:
we need labels to denote:
- the session type i.e. breakout, workshop
- the status of review for each proposal in a standalone issue i.e. WIP, ready for review, under review, scheduled etc
- the scheduling status of a proposal i.e. scheduled
- timezone labels, grouped by region i.e. Australasia, EMEA, US East Coast/ WC South America, etc. See suggested regions [here](

[2020-05-18 12:44] serahrono commented on #6
@kerchner here's the issue on labels

[2020-05-18 13:59] mkuzak commented on #6
here are the labels I came up with, based on discussions:
# session types
session breakout
session skill-up
session panel
session social
session sprint
session other

# status
WIP
ready for review
under review
scheduled

# timezone
UTC -12 to -7
UTC -06 to -01
UTC +-00 to +05:45
UTC +06 to +11:30
UTC +12 to +14

[2020-05-18 16:59] ChristinaLK commented on #6
^^ for the timezones, can we use the labels from the README? (oceania, europe, africa, etc.)

[2020-05-19 18:07] kerchner commented on #6
To reduce label clutter when people are submitting proposals, I've deleted a few labels that probably don't apply here:
- bug
- documentation
- enhancement
- good first issue.

We can always add back later if there is a need.

Do folks feel that milestones will be a good way to organize "sprints" of sessions?  I would propose milestones for:
- Schedule backlog
- Week 1 ( <-- weeks get a dates as s

[2020-05-19 20:16] ChristinaLK commented on #6
@kerchner that sounds good to me!!

[2020-05-20 13:19] mkuzak commented on #6
@ChristinaLK about the time zones, that's what I wanted to do :) but I cannot find the right unique names for the time zone ranges, eg. do we use Africa or Europe?

[2020-05-20 13:20] mkuzak commented on #6
@kerchner that's great

[2020-05-20 14:06] ChristinaLK commented on #6
Can we combine? use a dash or a slash to separate?

[2020-05-20 14:12] mkuzak commented on #6
What about following?
`Oceania & North America`
`North & South America`
`Asia`
`Asia & Oceania`
there will be more detailed information in the description of the label

[2020-05-21 00:45] kerchner commented on #6
- [x] Created Milestones (we can edit dates once we have them.  And/or change to 2-week sprints, etc.)

[2020-05-21 08:57] mkuzak commented on #6
I updated timezone labels. Let me know if you agree on those.

[2020-05-21 14:01] ChristinaLK commented on #6
I think this looks good @mkuzak !

[2020-05-22 11:26] serahrono opened #10 "Reproducible Environments with the Nix Packaging System"
## Title of the session: Reproducible Environments with the Nix Packaging System

### Session details

* Session type: PENDING

* Keywords: PENDING

* Permission to record this session: Permission pending

### Abstract

The issue of dependency management is one which is of interest to all scientists and researchers who wish to develop reproducible results with software. [The Nix package management

[2020-05-22 11:41] serahrono commented on #10
@HaoZeke please add details to the sections with information pending by editing [the issue text above](https://github.com/carpentrycon/carpentryconhome-proposals/issues/10#issue-623142879)

[2020-05-22 11:42] serahrono commented on #10
@HaoZeke please add details about your session to the sections with information pending above by editing [the issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/10#issue-623142879)

[2020-05-22 11:47] serahrono opened #11 "Proposal: Building institutional computational genomics capacity (de novo)"
## Title of the session: Building institutional computational genomics capacity (de novo)

### Session details

* Session type: Breakout Session

* Keywords: Genomics, Capacity, Communities of Practice, MOOC, Study Group, Self-learning, Next-Generation Sequencing (NGS) Data

* Permission to record this session: PENDING

### Abstract

There is a growing gap between the accumulation of big data and

[2020-05-22 11:48] serahrono commented on #11
Hi @BinxiePeterson, please add details about your session to the sections with information pending above by editing [the issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/11#issue-623152865)

[2020-05-22 11:54] serahrono opened #12 "Proposal: Frictionless data management for open and reproducible science"
## Title of the session: Frictionless data management for open and reproducible science

### Session details

* Session type: Workshop

* Keywords: open science; reproducible research; open data; python; r; data management; metadata

* Permission to record this session: PENDING

### Abstract

Generating insight and conclusions from scientific data is not always a straightforward process. Data is o

[2020-05-22 11:58] serahkiburu commented on #12
Hi @lwinfree, thanks for agreeing to run your workshop remotely for CarpentryCon@Home.  Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/12#issue-623156679).

[2020-05-22 11:59] serahrono commented on #11
Hi @BinxiePeterson, thanks for agreeing to run your workshop remotely for CarpentryCon@Home.  Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/11#issue-623152865)

[2020-05-22 11:59] serahkiburu commented on #11
Hi @BinxiePeterson, thanks for agreeing to run your breakout session remotely for CarpentryCon@Home.  Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/11#issue-623152865)

[2020-05-22 12:01] serahkiburu commented on #10
Hi @HaoZeke, thanks for agreeing to run your workshop remotely for CarpentryCon@Home.  Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/10#issue-623142879).

[2020-05-22 12:06] serahrono opened #13 "Proposal: How to prevent and kick burnout to the curb"
## Title of the session: How to prevent and kick burnout to the curb

### Session details

* Session type: Breakout session

* Keywords: burnout, stress, stress management, relaxation, efficiency

* Permission to record this session: PENDING

### Abstract

Since becoming part of the Carpentries' community, I can't imagine what my life was like before. I have learned so many things in the past few

[2020-05-22 12:07] serahkiburu commented on #13
Hi @BinxiePeterson, thanks for agreeing to run your breakout session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/13#issue-623162402).

[2020-05-22 12:27] serahrono opened #14 "Proposal: Growing Carpentries through a growing community"
## Title of the session: Growing Carpentries through a growing community

### Session details

* Session type: Breakout session

* Keywords: engagement, skill building, sustainability, community, promotion

* Permission to record this session: Yes

### Abstract

Carpentries participants need the opportunity to engage beyond workshops and it can be challenging for volunteers to dedicate more of the

[2020-05-22 12:29] serahkiburu commented on #14
Hi @kbjornen, thanks for agreeing to run your breakout session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/14#issue-623172966).

[2020-05-22 12:32] serahrono opened #15 "Proposal: Native scripting in Windows: the Command Prompt interface"
## Title of the session: Native scripting in Windows: the Command Prompt interface

### Session details

* Session type: Skill-up session

* Keywords: Windows, command prompt, command line interface, scripting, automation, native

* Permission to record this session: PENDING

### Abstract

SW focuses on task automation and proposed bash shell as an effective tool to this end. However, in Windows i

[2020-05-22 12:34] serahrono commented on #15
Hi @lucadistasio, thanks for agreeing to run your breakout session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/15#issue-623175757).

[2020-05-22 12:38] serahrono opened #16 "Proposal: Visualizing Africa through Inclusive Data Programming"
## Title of the session: Visualizing Africa through Inclusive Data Programming

### Session details

* Session type: Breakout session

* Keywords: AI in Africa, ML and DL, Data Programming and Revelation

* Permission to record this session: PENDING

### Abstract

Africa is said to be the World Global Commerce by 2035. Investors and global actors in most cases lack evidence-based research about Af

[2020-05-22 12:39] serahkiburu commented on #16
Hi @aojsoft4real, thanks for agreeing to run your breakout session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/16#issue-623178427).

[2020-05-22 12:40] serahkiburu commented on #15
Hi @lucadistasio, thanks for agreeing to run your skill-up session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/15#issue-623175757).

[2020-05-22 12:43] serahrono opened #17 "Proposal: Workshop on structural equation modelling for causal inference in R"
## Title of the session: Workshop on structural equation modelling for causal inference in R

### Session details

* Session type: Workshop

* Keywords: causal modelling, structural equation modelling, R

* Permission to record this session: PENDING

### Abstract

For anyone in health, education, social sciences, ecology, genomics, genetics, software programming, and indeed any field that investig

[2020-05-22 12:45] serahkiburu commented on #17
Hi @arinbasu, thanks for agreeing to run your workshop session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/17#issue-623180898).

[2020-05-22 12:52] serahrono opened #18 "Proposal: Open data and reproducibility v2.1"
## Title of the session: Open data and reproducibility v2.1

### Session details

* Session type: Workshop

* Keywords: reproducible, R Markdown, Binder, interactive, dashboard, flexdashboard, shiny, website, HTML, CSS

* Permission to record this session: PENDING

### Abstract

Putting Madisonian data into reproducible documents and dashboards--should be fun!

Please find a possible abstract belo

[2020-05-22 12:53] serahkiburu commented on #18
Hi @pablobernabeu, thanks for agreeing to run your workshop session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/18#issue-623185109).

[2020-05-22 12:58] serahrono opened #19 "Proposal: Beyond technical skills: Leveraging the Carpentries for professional development"
## Title of the session: Beyond technical skills: Leveraging the Carpentries for professional development

### Session details

* Session type: Breakout session

* Keywords: leadership, communication, facilitation, organization, professional skills

* Permission to record this session: PENDING

### Abstract

For folks coming from an academic background, it can be difficult to both identify and dev

[2020-05-22 12:59] serahkiburu commented on #19
Hi @k8hertweck, thanks for agreeing to run your breakout session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/19#issue-623188303).

[2020-05-22 13:04] serahrono opened #20 "Proposal: Packaging and Publishing in Python"
## Title of the session: Packaging and Publishing in Python

### Session details

* Session type: Workshop

* Keywords: packaging, publishing code, python

* Permission to record this session: PENDING

### Abstract

This workshop covers how to make your code more resusable and citable. Starting from an expectation of miscellaneous scripts and notebooks that are common among competent practitioners

[2020-05-22 13:06] serahkiburu commented on #20
Hi @brownsarahm, thanks for agreeing to run your breakout session remotely for CarpentryCon@Home. Please add details about your session to the sections with information pending above by editing the [issue text](https://github.com/carpentrycon/carpentryconhome-proposals/issues/20#issue-623192002).

[2020-05-22 13:54] pablobernabeu commented on #18
Hi @serahrono, thank you very much.

Right now I don't seem to have the rights to edit the text. Could you please assign the issue to me?

[2020-05-22 14:32] lwinfree commented on #12
Will do soon @serahrono!! So excited about this :-)

[2020-05-22 14:45] pablobernabeu commented on #18
### Abstract

The methods for disseminating research are advancing. Papers now include more and more supplementary materials. This shift has been facilitated by burgeoning technologies and available training. Another major contributor was the replication crisis in psychology. Nowadays, researchers customarily examine the extra materials with new studies. These materials are available to non-academ

[2020-05-22 16:15] brownsarahm commented on #20
I don't have permission to edit the issue text

[2020-05-22 18:49] ghost commented on #16
Thank you Serahrono. I will respond to the PENDING issues chronologically.

PERSONAL DETAILS

1. I don't have co-lead, I wish I could get one but I don't have anyone on mind
2. Email of co-lead: NA
3. I am currently in Kenya.
4. I am willing to present multiple times if necessary.
5. Yes, I would love to.

OTHERS

1. I will love the community to provide any help as applicable to my session and oth

[2020-05-22 19:49] serahkiburu commented on #20
you should be able to now, @brownsarahm

[2020-05-22 20:46] brownsarahm commented on #20
Assigning doesn't give me permission to edit. I have triage level access and to edit I would need 'write' level access to this repo [per this summary of permissions](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization).

I can quote reply or create my own issue.

Alternatively, though possibly a bigger change to your pl

[2020-05-22 23:26] serahkiburu commented on #20
I've given you and others write permissions @brownsarahm. However, feel free to open a new issue to submit your proposal, and I will close this one in case you do. Thanks.

[2020-05-23 19:24] brownsarahm opened #21 "Proposal: Sprint: Packaging and Publishing in Python"
## Title of the session: Sprint: Packaging and Publishing in Python

### Session details

* Session type:  resource development sprint

* Keywords: lesson development, python, packaging, publishing

* Permission to record this session: No

### Abstract

This 48 hour sprint will follow after a pilot run of the workshop Packaging and Publishing in Python. The sprint will take place in the lesson's C

[2020-05-24 20:03] dpshelio opened #22 "Proposal: i18n - bring the Carpentries to your language :earth_asia: :earth_africa: :earth_americas:"
## Title of the session: i18n - bring the Carpentries to your language :earth_asia: :earth_africa: :earth_americas:

### Session details

* Session type: skill-up workshop

* Keywords: languages, internationalisation,

* Permission to record this session: Yes

### Abstract

Have you heard that some lessons are being translated into different languages? Would you like to participate in these effort

[2020-05-24 20:18] kerchner commented on #6
How did Oceania get put together with North America?  Wouldn't Oceania be closer to East Asia?

[2020-05-24 21:08] brownsarahm opened #23 "Proposal: Lesson Development Sprint Lounge"
## Title of the session: Lesson Development Lounge

### Session details

* Session type: informal meetup

* Keywords: social, lesson development, networking

* Permission to record this session: No

### Abstract

_very rough idea, welcome feedback_

It would be nice to have a zoom meeting setup that could be used for either drop-in or scheduled informal, synchronous chats during any lesson develop

[2020-05-25 08:53] HaoZeke commented on #10
Hi @serahrono; Sorry for the delay; I don't seem to have edit access at the moment..

[2020-05-25 09:14] mkuzak commented on #6
There are two ranges covering Oceania, `Oceania & North America` and `Asia & Oceania`

[2020-05-25 09:22] serahkiburu commented on #10
Hi Rohit 👋 I have given you write access.

[2020-05-25 19:59] dpshelio opened #24 "Proposal: ¡Traducciendo!"
## Title of the session: ¡Traducciendo!

### Session details

* Session type: sprint

* Keywords: Español, traducción, lecciones, lessons, translation, Spanish

* Permission to record this session: Yes

### Abstract

This sprint is to welcome new translators to the Spanish translation community.

¿Estás enamorado de las Carpentries? ¿Entiendes suficiente el inglés como para traducir cachitos de un

[2020-05-26 18:52] ChristinaLK commented on #24
Thanks @dpshelio !! very excited to see this one.

[2020-05-27 00:07] flor14 commented on #24
Hello! I would like to participate in this one!

[2020-05-27 00:08] orchid00 commented on #24
Hi @ChristinaLK with @flor14 on board can you please add labels for the Americas? thank youuu

[2020-05-27 00:20] orchid00 opened #25 "Social event and informal meetups: Hablamos Español"
## Title of the session: Hablamos Español

### Session details

* Session type: informal meetup

* Keywords: Spanish, chat, meetup, informal, Español

* Permission to record this session: No

### Abstract

Hi The Carpentries Community in Spanish is growing, and we would like to get to know each other, share our thoughts and aspirations and help each other creating new valuable connections.

Querem

[2020-05-27 00:21] flor14 commented on #24
I think that we can not add labels, could be?

[2020-05-27 07:06] mkuzak commented on #24
unfortunately, you don't have permission to add labels, I added one for North-South America, @orchid00  is that the one?

[2020-05-27 09:23] orchid00 commented on #24
Thank you @mkuzak!

[2020-05-27 16:39] chennesy opened #26 "Building Text-as-Data Communities"
## Title of the session: Building Text-as-Data Communities

### Session details

* Session type: Breakout discussion

* Keywords: text analytics, communities of practice

* Permission to record this session: Yes

### Abstract

In this session we hope to bring together text-as-data practitioners and those in academic support roles to discuss models for building communities related to computational

[2020-05-27 22:08] ChristinaLK commented on #25
@orchid00 let me know if the labels I added look accurate to you!

[2020-05-27 22:08] #6 closed

[2020-05-28 15:48] JordanPedersen opened #27 "Making a case for Carpentries Membership to your institution"
## Title of the session: Making a case for Carpentries Membership to your institution a.k.a. lessons learnt from The Carpentries @ the University of Toronto project

### Session details

* Session type: panel

* Keywords: membership, community, new instructors

* Permission to record this session: Yes

### Abstract

* In 2019 the University of Toronto Libraries received funding from the Chief Libr

[2020-05-28 20:27] davis68 opened #28 "Proposal: Data Harvesting for Agriculture"
## Title of the session: Data Harvesting for Agriculture

We have developed a Carpentries-inspired workshop teaching farmers and certified crop advisors more about data sources, data analysis, and data integration.

### Session details

* Session type: lightning talk

* Keywords: agriculture, farming, pseudocarpentria

* Permission to record this session: Yes

### Abstract

We have developed a two

[2020-05-30 17:16] mesako opened #29 "Proposal: Fostering Inclusion, Engagement, and Active Learning in the Virtual Classroom"
## Session Title: Fostering Inclusion, Engagement, and Active Learning in the Virtual Classroom

### Session Details
* Session type: Breakout discussion
* Keywords: teaching practices, active learning, inclusion, virtual learning, accessibility
* Permission to record this session: Yes

### Abstract
Learning Goals:
* Discuss how to apply strategies for increasing belonging and engagement online to

[2020-05-30 17:18] mesako opened #30 "Proposal: Addressing Learner Diversity and Belonging"
## Session Title: Addressing Learner Diversity and Belonging

### Session Details
* Session type: Skill-up
* Keywords: teaching practices, active learning, inclusion, virtual learning, diversity
* Permission to record this session: Yes

### Abstract
Learning Goals:
* Appreciate the diversity of learners and the importance of the affective aspect of learning
* Identify effective strategies for fost

[2020-06-01 23:38] orchid00 commented on #25
Thanks @ChristinaLK

I would like someone in Europe/Africa to lead too so we can add one more session to this. :)

[2020-06-01 23:49] orchid00 opened #31 "Proposal: Social Meetup AU-NZ"
## Title of the session: Getting to know each other down under

### Session details

* Session type: informal meetup

* Keywords: chat, meetup, informal

* Permission to record this session: No

### Abstract

A great opportunity to meet, reconnect and plan future activities with The Carpentries Community in Australia and New Zealand.

### Personal details

* Name or pseudoname of the session lead:

[2020-06-02 01:20] ragamouf commented on #31
Thanks @orchid00! Either of those times work for me. I wonder if we can invite people bring something to show and tell - how they've approached a lesson/workshop this year, or particular requests bubbling up from their communities?

[2020-06-02 07:37] mkuzak commented on #31
@orchid, I labelled it with timezones:
- Asia / Oceania / Antarctica for UTC+12:00 - UTC+14:00
- Oceania / North America / Antarctica for UTC−12 - UTC-07
does that make sense to you?

[2020-06-02 12:58] naoe-tatara opened #32 "Mega CodeRefinery online workshop - How to scale up online workshop to reach 100 learners?"
## Title of the session: Mega CodeRefinery online workshop - How to scale up online workshop to reach 100 learners?

### Session details

* Session type: Panel session

* Keywords: online workshop, scaling-up, best practice, lessons learned

* Permission to record this session: Yes

### Abstract

* In the [CodeRefinery](https://coderefinery.org/) project we teach tools and practices for collaborat

[2020-06-02 15:18] ocaisa opened #33 "HPC Carpentry - a way forward"
## Title of the session: HPC Carpentry - a way forward

### Session details

* Session type: Breakout discussion

* Keywords: HPC, HPCCarpentry, cluster, incubator

* Permission to record this session: Yes

### Abstract

At CarpentryCon 2018, the community expressed the will and desire to create a
Carpentry inspired curriculum for teaching new users of *High Performance Computing*
systems how to u

[2020-06-02 21:14] JasonJWilliamsNY commented on #30
I am willing to be assigned as an issue monitor/facilitator

[2020-06-02 21:15] JasonJWilliamsNY commented on #11
I am willing to be assigned as an issue monitor/facilitator

[2020-06-02 23:20] ChristinaLK commented on #33
thanks for submitting @ocaisa ! We're hoping to direct the community here for involvement and feedback next week - can you add another comment after mine that reiterates your ask for help + any other feedback you'd like from the community?

[2020-06-02 23:26] ChristinaLK commented on #27
Hi @JordanPedersen !! Thanks for submitting this proposal. We're hoping to invite feedback from the community next week - if you'd like any help with this, or feedback before presenting, add it in a comment to this issue; otherwise, we'll assume your proposal is set as is.

[2020-06-02 23:30] ChristinaLK commented on #26
thanks for submitting @chennesy ! We're hoping to invite community feedback next week - if you would like additional contributions or help with this session, or just want to highlight how people can be involved, add a comment at the end of the issue with that information.

[2020-06-02 23:35] ChristinaLK commented on #21
@brownsarahm I'm going to tag this as "help wanted" as it sounds like you're still looking for help. We're hoping to point the community at this repository next week - can you reiterate your asks for help in a comment so that it's visible at the top and (current) bottom of the issue?

[2020-06-02 23:47] ChristinaLK opened #34 "Proposal: Puzzled Pint Social"
## Title of the session: Puzzled Pint Social Event

### Session details

* Session type: social event

* Keywords: puzzles, problem-solving, teamwork, cryptography

* Permission to record this session: No.

### Abstract

* [Puzzled Pint](http://www.puzzledpint.com/) is a group that releases a monthly set of puzzles to be done w/ friends over a pint. Puzzles include letter and word games, decoding,

[2020-06-02 23:48] ChristinaLK commented on #34
I'm looking for anyone who is interested in hosting, especially in Europe, Africa, Australia and Asia. Bonus points if you're already familiar w/ puzzled pint!

[2020-06-02 23:52] ChristinaLK opened #35 "Proposal: Wrap-Up Listening Session"
## Title of the session: Carpentry Con @ Home Feedback and Listening Session

### Session details

* Session type: other

* Keywords: feedback, community

* Permission to record this session: no

### Abstract

* Suggested by @selgebali - we'd like to create a space for people to offer feedback about CarpentryCon @ Home at the end of the conference.

### Personal details

* Name or pseudoname of th

[2020-06-02 23:53] ChristinaLK commented on #35
@selgebali @mkuzak @malvikasharan let me know if you'd be interested in helping organize/moderate a few of these.

[2020-06-03 01:51] brownsarahm commented on #20
@ChristinaLK why did this get closed?

[2020-06-03 08:48] ocaisa commented on #33
Thanks @ChristinaLK

Anyone is welcome to chime in and make a contribution. We are particularly open to have lightning talks from:
*  (potential) stakeholders, e.g., those involved in a project or initiative whose goals may (or could) align with those of HPC Carpentry
* people who have delivered the material from [HPC Carpentry](https://github.com/hpc-carpentry), and any challenges that they encou

[2020-06-03 14:55] fmichonneau opened #37 "Skill-Up Workshop: Curriculum Development with The Carpentries"
# CarpentryCon @ Home -- Curriculum Development Skill-Up

* Session type: Skill-up

* Keywords: Curriculum Development, Backward Design, CarpentriesLab,
            Carpentries Incubator

* Permission to record this session: yes

### Abstract

This skill-up session is aimed at anyone who wants to learn more about how to design good lessons and the lesson development process promoted by The Carpent

[2020-06-03 18:20] ChristinaLK commented on #20
I assumed this was a duplicate of #21 - if not, my bad and I'll reopen!

[2020-06-03 19:41] brownsarahm commented on #20
Nope, this is to run the actual workshop as a skillup, #21 is to have a sprint (preferably after) to improve the curriculum based on how the pilot goes

[2020-06-04 06:29] Sabryr commented on #33
Very nice to see this effort. Main reason for our fork to diverge so much was the delay in getting pull requests accepted/refused.  More than happy to contribute to the session in any way if you need it.  Not sure how the resonances are collected, reply to this thread or should one email

[2020-06-04 07:38] tobyhodges commented on #34
I'm not familiar with Puzzled Pint but it sounds really interesting, and right up my street. I'd be happy to host a session in Europe, if you've got time to give me some pointers, @ChristinaLK?

[2020-06-04 08:06] dvanic opened #39 "Skill-up workshop: Lesson co-development using reverse design: a worked example"
# Lesson co-development using reverse design: a worked example

### Session details

* Session type: skill-up

* Keywords: Curriculum Development, Backward Design, Faded example, Collaborative Development, Meta

* Permission to record this session: Yes

### Abstract

In this session, we demonstrate how the constraints of reverse design reduce the uncertainty of a blank page titled "Lesson 1".  Now

[2020-06-04 08:06] Denubis commented on #39
So meta-meta. Whee :)

[2020-06-04 08:23] dvanic commented on #39
https://github.com/dvanic/metametalesson

[2020-06-04 08:26] Denubis commented on #39
Hell is: realising that we have to be perfect with our commit messages because we're performing git project management as part of the lesson. I suggest that @dvanic and I are crazy.

[2020-06-04 09:22] tobyhodges commented on #16
@aojsoft4real can you provide some information on what skills/experience you're looking for in a co-lead/helpers from the community? If I have some details, I can better judge whether I would be able to help, or otherwise reach out to others if I know someone who I think might be more suitable.

[2020-06-04 11:37] dvanic commented on #39
@Denubis  Also, to make it even more transparent: we should only use GitHub to communicate about the process, no meetings (virtual or in-person). What do you think? [Yes, I acknowledge exactly how hard this is going to be 😿 ).

[2020-06-04 12:25] Denubis commented on #39
I hate us so much. Yes, of course this is a good idea.

[2020-06-04 13:10] ChristinaLK commented on #20
Got it - sorry about that!

[2020-06-04 17:20] selgebali opened #40 "OpenCider (Open Computational Inclusion and Digital Equity Resource)"
## Title of the session: Open Computational Inclusion and Digital Equity Resource

### Session details

* Session type: resource development

* Keywords: Opendata, Inclusion, Solutions for limited resources, Global south, Computational training

* Permission to record this session: Yes

### Abstract
OpenCider (Open Computational Inclusion and Digital Equity Resource- https://selgebali.gitbook.io/o

[2020-06-04 19:54] ghost commented on #16
Thank you Toby.

I spoke with a friend and he's willing to join me as co-lead. You don't have to worry about it anymore.

His name is:

Ephraim A. Ogbonna

Email: ogbonnaephraim@yahoo.com<mailto:ogbonnaephraim@yahoo.com>

Regards,

Olalekan

Sent from my DOOGEE

On 4 Jun 2020 12:22, Toby Hodges <notifications@github.com> wrote:

[2020-06-05 11:22] ocaisa commented on #33
@Sabryr I think this experience would be a really valuable contribution to the discussion. Either email or the thread are both fine for me, I'll connect with @psteinb once we've had a round of feedback (and if the session gets accepted) to decide the details of how we organise ourselves.

[2020-06-07 02:44] map0logo opened #41 "Spyder 4 Carpentries"
## Title of the session: Spyder 4 Carpentries

### Session details

* Session type: skill-up

* Keywords: Spyder, IDE, debugging, problem-solving

* Permission to record this session: Yes

### Abstract

Although Spyder is mentioned in some data carpentry lessons it is not treated with the depth it should be.

Since Spyder is pre-installed on Anaconda, the platform suggested in some Python's Carpen

[2020-06-08 02:28] megan-guidry commented on #33
I'm keen to get involved with this! Happy to do a lightning talk on what we are hoping for in the AU/NZ region re: HPC Carpentry.  Time zone is tricky though, would have to be 9 or 10am CEST (for a 7 or 8pm start in NZ)... I could facilitate a AU/NZ/ Pacific friendly time.

[2020-06-08 04:54] methylnick commented on #33
I would be keen to be involved too, from Downunder Australia.

[2020-06-08 05:15] kerchner commented on #17
Resending to @arinbasu (corrected github id) - please see @serahrono 's note above.  We'd like you to fill in the information pending above.  Thanks for the workshop proposal!

[2020-06-08 06:19] orchid00 commented on #33
I'm interested to join, also AEST Downunder Australia. Thanks for pointing out @megan-guidry

[2020-06-08 07:32] chendaniely opened #42 "[Skill-up]: Git skills for new and prospective maintainers"
## Title of the session: Git skills for new and prospective maintainers

### Session details

* Session type: skill-up

* Keywords: git, lesson maintainers, first-time maintainers, future maintainers, prospective maintainers

* Permission to record this session: Yes

### Abstract

Part of Carpentries' onboarding is submitting a pull request for a lesson.
One of the goals of this task is to make su

[2020-06-08 12:45] gvwilson opened #43 "How to Run a Meeting"
## Title of the session: How to Run a Meeting

### Session details

* Session type: other

* Keywords: community management; teamwork; time management.

* Permission to record this session: Yes.

### Abstract

The Carpentries exist so that people don't have to teach themselves how to program, but ironically, most members of the Carpentry community have had to learn how to coordinate groups on thei

[2020-06-08 13:54] sdopoku opened #44 "Embedding Accessible Low-Tech Strategies Into Your Data Literacy Approach"
## Title of the session: Embedding Accessible Low-Tech Strategies Into Your Data Literacy Approach

### Session details

* Session type: Skill-up

* Keywords: data literacy, low-tech, low-income, design

* Permission to record this session: Yes

### Abstract

This session is a follow up to my recent talk [Low-Income Data Diaries - How “Low-Tech” Data Experiences Can Inspire Accessible Data Skills

[2020-06-08 16:22] malvikasharan opened #45 "Developing Open Leadership mindset for our learners through mentoring"
## Title of the session: Developing Open Leadership mindset for our learners through mentoring

### Session details

* Session type: Skill-up session

* Keywords: Mentoring, Open Science, Leadership, Skill-building

* Permission to record this session: Yes

### Abstract

Leadership skills such as openness, inclusivity, project road mapping, and community building are essential for modern science a

[2020-06-08 16:52] malvikasharan opened #46 "Learning Ally Skills"
## Title of the session: Learning Ally Skills

### Session details

* Session type: Skill-up session

* Keywords: community, ally skills

* Permission to record this session: Yes

### Abstract

Ally Skills Session will aim to have open discussions with people interested in learning how to step up and use their societal advantages to support others in your workplace and communities.
This session is

[2020-06-08 17:00] emmyft opened #47 "Executable Research Article (ERA): enriching your research paper with code and data"
## Title of the session: Executable Research Article (ERA): enriching your research paper with code and data

### Session details

* Session type: lightning talk

* Keywords: open research, publishing, reproducibility

* Permission to record this session: Yes

### Abstract

Code and data are important research output and integral to a full understanding of research
findings and experimental approa

[2020-06-08 17:03] naoe-tatara opened #48 "Proposal: Social meetup for Nordic and Baltic"
## Title of the session: Nordic&Baltic get-to-gether

### Session details

* Session type: Informal meetup

* Keywords: Nordic, Baltic, community building

* Permission to record this session: No

### Abstract

A great opportunity to meet, reconnect Carpentries community members in Nordic and Baltic countries! We would like to have something between social meetup and breakout discussion where we w

[2020-06-08 17:11] konrad opened #49 "Introduction to the Library Carpentry Wikidata Lesson"
## Introduction to the Library Carpentry Wikidata Lesson

### Session details

* Session type: lightning talk

* Keywords: Wikidata, Bibliographic Metadata, Open Linked Data

* Permission to record this session: Yes

### Abstract

* The [Library Carpentry Wikidata lesson](https://github.com/LibraryCarpentry/lc-wikidata) aims to introduce the linked open data platform [Wikidata](https://www.wikidat

[2020-06-08 17:15] arieldeardorff opened #50 "Library Collaborations and the Carpentries"
## Title of the session: Library Collaborations and the Carpentries

### Session details

* Session type: Breakout discussion

* Keywords: libraries, librarians, library staff, collaboration, partnerships

* Permission to record this session: Yes

### Abstract

As more libraries get involved with the Carpentries we are seeing exciting collaborations and partnerships develop around Carpentries work

[2020-06-08 17:27] konrad opened #51 "Proposal: Library Carpentry Wikidata lesson sprint"
## Library Carpentry Wikidata lesson sprint

### Session details

* Session type: resource development sprint

* Keywords: Wikidata, Bibliotgraphic Metadata, Linked open data

* Permission to record this session: No

### Abstract

* The [Library Carpentry Wikidata lesson](https://github.com/LibraryCarpentry/lc-wikidata) aims to introduce the linked open data platform [Wikidata](https://www.wikidat

[2020-06-08 18:05] mkuzak opened #52 "Proposal: Make Your Tools, Scripts and Analyses Open and more FAIR"
## Title of the session: Make Your Tools, Scripts and Analyses Open and more FAIR

### Session details

* Session type: skill-up

* Keywords: WRITE HERE

Research Software, Open Science, Reproducible Research, FAIR,

* Permission to record this session: Yes

### Abstract

Open science has rapidly gained interest and importance across the academic world and society. It will require researchers to b

[2020-06-08 18:26] unna97 opened #53 "Proposal: Using Programming to understand maths"
## Title of the session: Understanding Math concepts better by using Programming

### Session details

* Session type: Lightning Talk

* Keywords: Monty Hall Problem,Simulation,Maths,Programming

* Permission to record this session: Yes

### Abstract

I would be talking about how easy it is simulating difficult mathematical concepts with programming.The talk will show how the process of simulating

[2020-06-08 20:15] libcce opened #54 "Proposal: Library Carpentry FAIR Data & Software Lesson Sprint"
## Library Carpentry FAIR Data & Software Lesson Sprint

**Session details**

- Session type: resource development sprint
- Keywords: FAIR Data, FAIR Software
- Permission to record this session: No

**Abstract**

- The Library Carpentry FAIR Data & Software lesson aims to introduce researchers and librarians to FAIRer (Findable, Accessible, Interoperable, Reusable) research data and software mana

[2020-06-08 20:23] hannahcgunderman opened #55 "Identifying Opportunities for Inclusive Language in Carpentries Workshops: A Case Study at Carnegie Mellon University Libraries"
## Title of the session: Identifying Opportunities for Inclusive Language in Carpentries Workshops: A Case Study at Carnegie Mellon University Libraries

### Session details

* Session type: lightning talk

* Keywords: Inclusive design; Neurodiversity; data education; curriculum development; socioeconomics

* Permission to record this session: Yes

### Abstract

* This lightning talk highlights th

[2020-06-08 23:06] levlafayette commented on #33
Adding my name to the collection of people from AU/NZ;  AEST also.

Hat-tip to @megan-guidry

[2020-06-09 05:51] AnnBackhaus commented on #33
Adding my name to the Aus/NZ collection, AWST.
Thanks @megan-guidry !

[2020-06-09 07:53] elletjies opened #56 "Carpentries Instructor Experiences of Teaching Online"
## Title of the session: Carpentries Instructor Experiences of Teaching Online

### Session details

* Session type: Breakout discussion

* Keywords: Instructors, online, teaching, workshops, instructor development

* Permission to record this session: Do not know yet

### Abstract

* The Carpentries Core Team will be inviting experienced instructors who have ran Carpentries workshops online so fa

[2020-06-09 11:57] ChristinaLK commented on #13
@BinxiePeterson if you're still interested in running this session for CarpentryCon @ Home, let us know what times you'd like and if you need any help/other contributors.

[2020-06-09 11:59] ChristinaLK commented on #14
@kbjornen please let us know what times you'd like to present and other details for your presentation on the issue. If you can't edit it, let us know.

[2020-06-09 14:12] kbjornen commented on #14
@ChristinaLK it's not obvious to me where I add my preferred date and time to present.  Are there scheduled times or do I choose my preferred time?

[2020-06-09 23:10] ealescak opened #57 "Challenges and opportunities in transitioning meetings online"
## Title of the session: Challenges and opportunities in transitioning meetings online

### Session details

* Session type: Breakout discussion

* Keywords: community, communication, accessibility, outreach, inclusion

* Permission to record this session: Yes

### Abstract

We value scientific meetings because they provide opportunities to interact with our colleagues to share our research, build

[2020-06-11 01:59] orchid00 commented on #25
hi @ChristinaLK we have now two people co-leading in Europe/Africa time zones.
@dpshelio and @astrojuanlu Please add the corresponding label, and I would also like to know how are we going to coordinate times?

[2020-06-11 06:31] BinxiePeterson opened #58 "Proposal: Building institutional computational genomics capacity (de novo)"
## Title of the session: Building institutional computational genomics capacity (de novo)

### Session details

* Session type: Breakout Discussion

* Keywords: Genomics, Capacity, Communities of Practice, MOOC, Study Group, Self-learning, Next-Generation Sequencing (NGS) Data

* Permission to record this session: Yes

### Abstract

There is a growing gap between the accumulation of big data and r

[2020-06-11 06:41] BinxiePeterson opened #59 "Proposal: How to prevent and kick burnout to the curb"
## Title of the session: How to prevent and kick burnout to the curb

### Session details

* Session type: Breakout discussion

* Keywords: burnout, stress, stress management, relaxation, efficiency

* Permission to record this session: Yes

### Abstract

Since becoming part of the Carpentries' community, I can't imagine what my life was like before. I have learned so many things in the past few y

[2020-06-11 07:18] ragamouf commented on #59
I really want to be able to repeat this session for the Australian/NZ/Oceania timezones!

[2020-06-11 08:27] BinxiePeterson commented on #59
We can certainly add more time slots if people are willing to lead sessions? I think this is something that most people experience sometime in their life and by sharing experiences we can help each other get through it.

[2020-06-11 10:55] ousodaniel commented on #12
@lwinfree there is still pending the possibility of multiple hosting? Kindly update, thanks

[2020-06-11 13:24] serahkiburu commented on #11
closing this issue, as @BinxiePeterson has opened a new one under #58

[2020-06-11 13:24] #11 closed

[2020-06-11 13:26] serahkiburu commented on #58
@BinxiePeterson, @jasonjwilliamsny is [willing to be assigned as an issue monitor/facilitator](https://github.com/carpentrycon/carpentryconhome-proposals/issues/11#issuecomment-637810620) for this session

[2020-06-11 13:27] serahkiburu commented on #13
closing this, as @BinxiePeterson has opened a related one here #59

[2020-06-11 13:27] #13 closed

[2020-06-11 14:25] ousodaniel commented on #10
@HaoZeke thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:29] ousodaniel commented on #12
@lwinfree thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:36] ousodaniel commented on #15
@LucaDiStasio thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:39] ousodaniel commented on #18
@pablobernabeu thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:42] ousodaniel commented on #20
@brownsarahm thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:44] ousodaniel commented on #22
@dpshelio thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:46] ousodaniel commented on #26
@chennesy thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:47] ousodaniel commented on #27
@JordanPedersen thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:47] ousodaniel commented on #28
@davis68 thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:49] ousodaniel commented on #32
@naoe-tatara thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:51] ousodaniel commented on #37
@fmichonneau thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:52] ousodaniel commented on #41
@map0logo thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:53] ousodaniel commented on #42
@chendaniely thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:54] ousodaniel commented on #44
@sdopoku thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:55] ousodaniel commented on #47
@emmyft thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:57] ousodaniel commented on #49
@konrad thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:58] ousodaniel commented on #52
@mkuzak thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:59] ousodaniel commented on #53
@unna97 thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 14:59] ousodaniel commented on #54
@libcce thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 15:00] ousodaniel commented on #56
@elletjies thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 15:01] ousodaniel commented on #57
@ealescak thanks for your interest in regional hosting, check out the details [here](https://carpentries.org/blog/2020/06/call-for-carpentrycon-review-and-regional-hosts/) please. We'd love to see you sign up. Best

[2020-06-11 16:10] libcce commented on #54
Thanks @ousodaniel for the pointer! Since we want to do this across 3 time zones, I think the plan was for @kmhettne, @ragamouf and I to host. Is it possible to modify the proposal slightly? I have half day but I believe we want to do this across one day? We have a call coming up to organize but wanted to ask in advance (also where we will be talking about hosting). Thanks again!

[2020-06-11 17:25] elletjies commented on #56
@ousodaniel done!

[2020-06-12 02:02] prosoitos commented on #33
I would be interested to attend this conversation from Vancouver, BC, Canada.

[2020-06-12 12:05] BinxiePeterson commented on #59
You are more than welcome to lead additional sessions on this topic - I think it's really important!

[2020-06-14 20:28] pablobernabeu commented on #18
Thanks! Will do.

[2020-06-15 05:35] ousodaniel commented on #56
Thanks Angelique

On Thu, 11 Jun 2020 at 20:26, Angelique van Rensburg <
notifications@github.com> wrote:

--
Kaizen
Ouso Daniel,
P.O BOX 6547-00100.
NAIROBI.

Skype: ouso.daniel

[2020-06-15 08:56] tobyhodges commented on #42
Love the idea for the session (and would extra-love it if the recording was used to help onboard new maintainers in the future too!) but recommend adjusting the opening sentence of the abstract to reflect the latest Instructor Training checkout requirements: trainees are no longer required to submit a Pull Request for their lesson contribution.

[2020-06-15 09:03] tobyhodges commented on #41
I'm +1 to this session if the focus is on ways that using _any_ IDE could be beneficial to researchers - or are there features specific to Spyder that make it particularly relevant/useful for The Carpentries audience, except that it's included in Anaconda by default?

[2020-06-15 10:06] tobyhodges commented on #39
Assuming both proposals are included in the programme, I think it would be great to point people towards this session during the Curriculum Development skill-up (#37), and to make sure that skill-up session happens first.

[2020-06-15 12:23] tobyhodges commented on #20
I'd be happy to attend as a help/issue creator if the date/time of the session permits. US Eastern probably means I can only help with a morning session.

[2020-06-15 20:14] kbjornen commented on #14
Sorry, I inadvertently closed this.  I am still trying to figure out how to communicate the times or dates that you are asking for.

[2020-06-15 20:53] arinbasu commented on #17
Session details
Session type: Workshop
Keywords: causal modelling, structural equation modelling, R
Permission to record this session: Yes/True
Abstract
For anyone in health, education, social sciences, ecology, genomics, genetics, software programming, and indeed any field that investigates causal thinking, graphical exploration of cause and effect is important for generation of deep insights. Th

[2020-06-15 21:00] jandreslopez commented on #58
👍

[2020-06-15 22:38] brownsarahm commented on #20
@ChristinaLK Can Toby's help be considered in terms of scheduling? Should I edit the original and make that a comment to help?

[2020-06-16 02:55] map0logo commented on #41
Certainly the idea is to be able to reflect the usefulness of IDEs in general based on one that is installed by default in Anaconda. Basic ideas such as syntax coloring, autocompletion, search and replace utilities, the use of the interpreter in conjunction with the editor, the use of the variable explorer in the same way that views from a debugger are used. That's the point.

And also some proble

[2020-06-16 02:58] map0logo commented on #41
Sorry I didn't add tags or any other metadata, but I don't have enough privileges in this repository to do so.

[2020-06-16 06:08] anandagk commented on #33
I would like to be involved and adding my name to AU/NZ - for Central time zone.
Thank you!

[2020-06-16 06:52] tobyhodges commented on #59
@BinxiePeterson if you're looking for a co-host/notetaker for the session, please feel free to put my name down.

[2020-06-16 12:59] serahkiburu commented on #14
Hi @kbjornen, you can specify times you are available to run this session under the personal details section where there's the question _Country of residence and/or compatible Time Zones (provide options): _ Your current answer is North/South America, and [this timezones guide we prepared](https://github.com/carpentrycon/carpentryconhome-proposals#relative-time-zones) might help you give us a more

[2020-06-16 13:12] ousodaniel commented on #54
Hi @libcce, do you mean the three of you were to each host a session in the different timezones? The hosting intended here was for session wrangling, which might not necessarily be when either of you is presenting. I am not sure I understand the modification bit right, but you may continue to develop your proposal further...

[2020-06-16 13:34] kbjornen commented on #14
It refers to both learners and to instructors/volunteers but it's more critical for learners to have the community connection so that they have resources to help them when they apply what they learned to their own research.  Also, it's a pool of potential new instructors and volunteers and keeping them in the loop also helps the organization.

[2020-06-16 13:58] serahkiburu commented on #16
Hi @aojsoft4real, would you be ok with the session being recorded and shared on The Carpentries YouTube channel later?

[2020-06-16 15:13] serahkiburu commented on #19
hi @k8hertweck, please update sections of your proposal that are marked as pending, thanks

[2020-06-16 17:42] ghost commented on #16
Yes, please.

Olalekan.
________________________________
From: Serah Njambi Rono <notifications@github.com>
Sent: 16 June 2020 14:58
To: carpentrycon/carpentryconhome-proposals <carpentryconhome-proposals@noreply.github.com>
Cc: Olalekan Joseph Akintande <aojsoft@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [carpentrycon/carpentryconhome-proposals] Proposal: Visualizing Africa t

[2020-06-18 00:59] orchid00 commented on #31
Thanks @mkuzak that's good.
Question, when are we going to know about the dates of the program?

@ragamouf Yes those are great ideas, @megan-guidry has experience organising this kind of events!

[2020-06-18 08:17] BinxiePeterson commented on #59
Thank you @tobyhodges! I will definitely add your name. :)

[2020-06-18 08:23] BinxiePeterson commented on #58
Thank you @serahrono, it will be great to have Jason on board.

[2020-06-18 17:36] kerchner commented on #37
@fmichonneau Does a "two part" workshop mean that the single session will have two main parts, or were you thinking to have the two parts scheduled at separate times?

[2020-06-18 23:18] ChristinaLK commented on #20
Yes, we can take that into account. I'm sending out a scheduling form in just a bit and you can pick a time that works for both of you.

[2020-06-19 12:25] psteinb commented on #33
@tkphd expressed interest from the US east coast.

@ChristinaLK should we add the respective label then? Along this line of thought, maybe 2 breakouts for this might make sense. What do you think?

[2020-06-19 19:17] tkphd commented on #33
Absolutely @psteinb, happy to chime in from `Americas/New_York` (UTC-5:00).
I've contributed a *little* to the material. Embarrassingly, I have not yet yet run the HPC Carpentry curriculum, though I did run a very heavily modified GPU-centric derivative work.

[2020-06-22 18:33] chendaniely commented on #42
Thanks @tobyhodges I just updated the abstract to reflect the new onboarding proess.

[2020-06-23 07:21] InquisitiveVi commented on #57
Thanks @ealescak ! I will be happy to help co-lead in Europe, Middle East, Africa time zone, assuming  there will be larger interest.

[2020-06-23 08:59] fmichonneau commented on #37
We were thinking 1 session with 2 main parts. Thanks!

[2020-06-23 18:06] ealescak commented on #57
Thanks @InquisitiveVi

[2020-06-24 14:33] angela-li opened #60 "Building Data Communities Lightning Talk"
## Title of the session: Building Data Communities

### Session details

* Session type: Lightning Talk

* Keywords: building communities, community management, champions, organizing groups

* Permission to record this session: Yes

### Abstract

In order to support the use of data in various contexts, it is important to have champions who demonstrate the value of tools, shepherd new users, and pr

[2020-06-24 15:23] rainsworth commented on #57
Hi @ealescak - I would love to help co-lead! I'm based in the UK, so I'm best suited to Europe, Middle East, Africa time zones as well as some North American time zones - but happy to help regardless.

[2020-06-25 12:10] serahkiburu commented on #12
Hi @lwinfree, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 12:13] ChristinaLK commented on #34
Ah, I meant to reply to this when I saw it! Yes, it's pretty straightforward. :)

[2020-06-25 12:16] serahkiburu commented on #14
Hi @kbjornen, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. I will also respond to the questions you posed on email in the next day or so.

[2020-06-25 12:20] serahkiburu commented on #15
Hi @LucaDiStasio, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. For the time being, there are a few details missing (marked as PENDING) in your proposal, please have a look and add information. Thanks!

[2020-06-25 12:24] kbjornen commented on #14
Thank you this is very helpful.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Serah Njambi Rono <notifications@github.com>
Sent: Thursday, June 25, 2020 7:16:57 AM
To: carpentrycon/carpentryconhome-proposals <carpentryconhome-proposals@noreply.github.com>
Cc: Bjornen, Kay <kay.bjornen@okstate.edu>; Mention <mention@noreply.github.com>
Subject: Re: [carpentrycon

[2020-06-25 12:25] serahkiburu commented on #16
Hi @aojsoft4real , the organising committee reviewed this session proposal and had this to say:

We are looking forward your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 12:31] serahkiburu commented on #10
Hi @HaoZeke, the organising committee reviewed this session proposal and had this to say:

We are looking forward to your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 12:42] serahkiburu commented on #17
Hi @arinbasu, the organising committee reviewed this session proposal and had this to say:

We are excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 12:46] serahkiburu commented on #18
Hi @pablobernabeu, the organising committee reviewed this session proposal and had this to say:

We are really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 12:53] serahkiburu commented on #19
Hi @k8hertweck, the organising committee reviewed this session proposal and had this to say:

We are looking forward to your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 12:56] serahkiburu commented on #20
Hi @brownsarahm, the organising committee reviewed this session proposal and had this to say:

We are really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being. Thanks!

[2020-06-25 13:06] serahkiburu commented on #21
Hi @brownsarahm, the organising committee reviewed this session proposal and had this to say:

As I mentioned in #20, we will be sharing more details i.e. around scheduling with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 13:09] serahkiburu commented on #22
Hi @dpshelio,  the organising committee reviewed this session proposal and had this to say:

We are really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 13:12] serahkiburu commented on #23
Hi @brownsarahm, the organising committee reviewed this session proposal and had this to say:

Thanks Sarah!

[2020-06-25 13:18] serahkiburu commented on #24
Hi @dpshelio, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 13:26] serahkiburu commented on #26
Hi @chennesy, the organising committee reviewed this session proposal and had this to say:

We are so excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Thanks Cody 🙌

[2020-06-25 13:30] serahkiburu commented on #27
Hi @JordanPedersen, the organising committee reviewed this session proposal and had this to say:

We are looking forward to your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being. Thanks Jordan!

[2020-06-25 13:36] serahkiburu commented on #29
Hey @mesako, the organising committee reviewed this session proposal and had this to say:

We are very excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

Thanks Melissa!

[2020-06-25 13:45] brownsarahm commented on #23
Thanks @serahrono It would be helpful to know if there are other sprints planned during CarpentryCon and then I can work to flesh out this idea a little more.

Also possible direction @angela-li? Maybe this could be somehow incorporated with the maintainer community?

[2020-06-25 13:45] serahkiburu commented on #30
Hi @mesako, the organising committee reviewed this session proposal and had this to say:

Looking forward to this, thanks Melissa!

[2020-06-25 13:52] serahkiburu commented on #32
Hi @naoe-tatara,  the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being. Thanks!

[2020-06-25 13:56] serahkiburu commented on #33
Hi @ocaisa,  the organising committee reviewed this session proposal and had this to say:

We are really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being. Thanks!

[2020-06-25 13:59] serahkiburu commented on #23
There are five sprints slated to take place during CarpentryCon @ Home @brownsarahm, see https://github.com/carpentrycon/carpentryconhome-proposals/issues?q=is%3Aissue+is%3Aopen+label%3A%22session+sprint%22

[2020-06-25 14:04] serahkiburu commented on #37
Hi @fmichonneau, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Thanks François!

[2020-06-25 14:07] serahkiburu commented on #39
Hi @dvanic and @denubis, the organising committee reviewed this session proposal and had this to say:

We are looking forward to your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:10] serahkiburu commented on #40
Hi @selgebali, the organising committee reviewed this session proposal and had this to say:

Looking forward to this session, thanks Sara!

[2020-06-25 14:17] serahkiburu commented on #41
Hi @map0logo, the organising committee reviewed this session proposal and had this to say:

We are excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:19] serahkiburu commented on #42
Hi @chendaniely, the organising committee reviewed this session proposal and had this to say:

We are excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:28] brownsarahm commented on #54
@libcce @kmhettne @ragamouf would you be interested in joining #23 to compliment your sprint?

[2020-06-25 14:29] serahkiburu commented on #43
Hi @gvwilson, the organising committee reviewed this session proposal and had this to say:

We are looking forward to your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:29] brownsarahm commented on #51
@konrad @RabeaMue @Tillsa @elhoussary would you be interested in joining #23 to compliment your sprint?

[2020-06-25 14:30] brownsarahm commented on #23
Thanks, I'll invite the authors of #51 #54 #40 and #24 to also participate in this.

[2020-06-25 14:31] brownsarahm commented on #40
@selgebali would you be interested in joining #23 to compliment your sprint?

[2020-06-25 14:32] brownsarahm commented on #24
@dpshelio would you be interested in joining #23 to compliment your sprint?

[2020-06-25 14:32] serahrono commented on #44
Hi @sdopoku,

We are really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:33] serahkiburu commented on #44
Hi @sdopoku, the organising committee reviewed this session proposal and had this to say:

We are really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:35] serahkiburu commented on #45
Hi @malvikasharan and team, the organising committee reviewed this session proposal and had this to say:

We are looking forward to your session, and more details i.e. around scheduling will be shared with you in the coming days. Thanks Malvika!

[2020-06-25 14:37] serahkiburu commented on #50
Hi @arieldeardorff, the organising committee reviewed this session proposal and had this to say:

We are really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:39] serahkiburu commented on #51
Hi @konrad, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

Thanks Konrad!

[2020-06-25 14:40] serahkiburu commented on #52
Hi @mkuzak, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:41] chendaniely commented on #42
It would be open to both. For current maintainers, hopefully it'll help them be more comfortable with jumping around branches.
For non-maintainers, I'm hoping they pick up enough skills so they can apply to be maintainers in the future.

The only hard pre-requisite is being familiar with the existing SWC git materials. I will pretty much start with the assumption that users are comfortable with `a

[2020-06-25 14:43] serahkiburu commented on #54
Hi @libcce, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:44] serahkiburu commented on #57
Hi @ealescak, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:45] serahkiburu commented on #58
Hi @BinxiePeterson, the organising committee reviewed this session proposal and had this to say:

Really excited for your session, and more details i.e. around scheduling will be shared with you in the coming days. Let me know if I can answer any questions or clarify anything for the time being.

[2020-06-25 14:46] serahkiburu commented on #59
Hi @BinxiePeterson, the organising committee reviewed this session proposal and had this to say:

Thank you so much Bianca 🎉

[2020-06-25 16:35] JordanPedersen commented on #27
Thanks so much @serahrono ! I'll let my collaborators know!

[2020-06-25 16:56] map0logo commented on #41
Thank you! I need some guidance on how to involve some helpers and promote this session.

[2020-06-25 18:55] lwinfree commented on #12
Thanks @serahrono! That is helpful feedback :-)

[2020-06-25 19:39] ealescak commented on #57
Thanks @serahrono !

[2020-06-25 21:37] pablobernabeu commented on #18
Hi @serahrono and All,

Thank you very much for your attention. Please find each question addressed in turn.

**Duration**

~I certainly agree about splitting up the session and having a break. Would you please suggest the structure that you find best? Any would suit me.~

Updated: I have instead adjusted the times above to fit the standard 2-hour format of these workshops.

**Data**

My only moti

[2020-06-26 03:56] kerchner commented on #56
@elletjies Hi Angelique - can you clarify your time-of-day preferences?  This issue notes 1700/2100 UTC, but your answer to the survey listed 700-1100 UTC.

[2020-06-26 06:51] elletjies commented on #56
@kerchner we asked for two sessions to accommodate US/Africa/European  and Asian/NZ/AUZ so 17:00 and 21:00 UTC

[2020-06-26 11:49] naoe-tatara commented on #32
Thank you, @serahrono for the comment! Actually it is not "learning from a mid-size workshop of around 25 members", but learning from a workshop where we had much bigger size of learner and helper cohort. I will bring the comment to the team and come back with the plan for the questions and answers. Is it preferable that we will suggest our most preferable schedule including date and time as well

[2020-06-27 04:26] sdopoku commented on #44
@ousodaniel thanks for the link to the regional hosting signup document. I just signed up and look forward to it.

@serahrono I've made the suggested updates which I agree make the abstract much better. Thank you for pointing this out. I don't have any questions for now. Please take a look at let me know if there's anything else I can improve.

[2020-06-28 14:59] libcce commented on #54
Thanks @serahrono for sharing the feedback!

[2020-06-28 15:04] libcce commented on #54
Thanks for the suggestion @brownsarahm.  After speaking with @kmhettne we'd like to focus on the lesson sprint and we are still  discussing how to structure  the sprint.

[2020-06-28 15:38] ChristinaLK commented on #27
@JordanPedersen can you fill out this form for scheduling? https://forms.gle/UTzzAYDUPjHbPGrj7

I sent out an email last week but it looks like we didn't have contact info for you.

[2020-06-28 18:03] selgebali commented on #23
Hey Sarah, Can you please get in touch? @ selgebali@gmail.com Would love to speak more! #40

[2020-06-28 21:31] selgebali commented on #40
Thank you! We have updated the abstract and included the session design.

[2020-06-29 07:17] serahkiburu commented on #44
thanks @sdopoku, this looks great to me!

[2020-06-29 11:06] BinxiePeterson commented on #58
We can certainly open the session up for other -omics research, or just big data analyses in general. Our experience at the NWU is based on genomics, but it certainly applies to other fields of research as well. Thank you for the feedback!

[2020-06-29 13:16] serahrono opened #61 "[General] CarpentryCon Schedule and other relevant conferences in July & August 2020"
We have heard about other relevant conferences in the open data, open source, open science and data Science space which our community members are keen to attend and that are scheduled to take place in July and August 2020. We want to use this issue to keep track of them and be mindful of the dates they are scheduled for so that, as the organising committee, we can do our best to schedule Carpentry

[2020-06-29 13:28] serahkiburu commented on #61
Conference name: PyCon Africa
Conference website: https://africa.pycon.org
Conference date(s): 4-8 August 2020
Conference time: TBD

[2020-06-29 13:31] serahkiburu commented on #61
Conference name: OceanHackWeek 2020 to explore Data Science in Oceanography
Conference website: https://oceanhackweek.github.io/
Conference date(s): 10-14 August 2020
Conference time: 3 hours per day, tentatively 10am-1pm US PDT / 1-4pm US EDT / 17:00-20:00 UTC
Other important details: Accepting session proposals till July 13, 2020 - submit yours https://oceanhackweek.github.io/applicant-info.html

[2020-06-29 17:19] serahkiburu commented on #61
Conference name: useR! 2020
Conference website: https://user2020.r-project.org/
Conference date(s): 7 - 17 July 2020
Conference time: 14 - 18 UTC

[2020-06-29 17:26] mkuzak commented on #61
Conference name: SORSE (A Series of Online Research Software Events)
Conference website: https://sorse.github.io/
Conference date(s): TBD (rolling till the end of the year)
Conference time: i.e. 9am - 5pm CEST
Other important details:

[2020-06-30 05:04] orchid00 commented on #24
Thanks for the feedback @serahrono
To add details to the abstract:
-  which lessons
Learning to use transifex and the process of translation is independent of the lesson.
We had translated lessons based on community request.

- tasks
In order to translate we need a few people in the following roles:
* Managers/Leaders
* Translators/Reviewers
* Carpentries Staff support to add translated lessons to

[2020-06-30 05:07] orchid00 commented on #22
We will be happy to recruit helpers from people who had participated in translations in the past. We just need to set the dates.

[2020-06-30 10:00] Denubis commented on #39
@serahrono Thanks! Any thoughts as to when scheduling will be announced?

[2020-06-30 13:54] naoe-tatara commented on #32
Hi, I added some information to answer the comment given regarding questions from the audience.

[2020-06-30 13:58] reid-a commented on #33
I'd be delighted to get back into this. I am, like @tkphd, also on the US east coast -- I'm fine with a second breakout if there's enough interest, of course.

A long-standing "to do" for me is to exercise the customization/localization machinery by standing up a test fork for my own cluster, and provide feedback on how that goes.

[2020-06-30 22:01] ChristinaLK commented on #39
@Denubis did you or darya get the email requesting that you fill out your availability?

Schedule is being finalized today and should be out in 1-2 days.

[2020-07-01 01:09] dvanic commented on #39
@ChristinaLK I think I was the only one who did, but I've been swamped with work and childcare, so though Brian could do it. I've filled it out today, sorry!

[2020-07-01 03:21] kerchner commented on #21
Hi @brownsarahm .  Am I understanding correctly that this (#21) isn't an event per se, but more of a 48-hour period that will roughly follow the sessions of #20?  I can schedule you for two sessions of #20 to help increase the number of people prepared to participate in the sprint.

[2020-07-01 03:28] kerchner commented on #23
@brownsarahm it looks like this would be more of a range on the calendar than a discrete event, right?

[2020-07-01 03:34] kerchner commented on #28
@davis68 Can you fill out this form for scheduling ASAP? https://forms.gle/UTzzAYDUPjHbPGrj7

[2020-07-01 03:35] kerchner commented on #28
Actually, disregard - now I see that this is a lightning talk. Thanks!

[2020-07-01 03:49] kerchner commented on #40
Does this sprint need any sort of discrete kick-off event scheduled on the calendar?

[2020-07-01 13:25] kerchner commented on #40
I added a sprint kickoff at 6pm CEST on Tuesday, August 4 - but let me know if the sprint doesn’t need a kickoff or if you prefer a different date/time!

[2020-07-01 13:26] kerchner commented on #40
Rather, August 11

[2020-07-01 14:49] psteinb commented on #33
@serahrono and @ChristinaLK the proposed date on July 21 won't work out from our point of view. We have interested parties from Australia, Europe and the US in this thread. We hence propose to go for:
July 20, 7am UTC for Europe+Australia/NZ timezones
July 20, 3pm UTC for Europe+US timezones
I already indicated this in the google sheet, but wanted to communicate that here to underline that we inte

[2020-07-01 17:53] brownsarahm commented on #21
Yes, this should be after #20, but need not follow immediately. A little time in between to structure the requests/ add my own issues post teaching will be helpful.

[2020-07-01 18:07] kerchner commented on #21
If #20 will be occurring on Tues/Thurs July 21/23, then when would you like to have the sprint be?  Perhaps Monday/Tuesday of the following week?  Up to you - but we can help put the sprint on the schedule so participants can plan for it.

[2020-07-02 07:34] psteinb commented on #33
I updated the dates in my previous comment. Had a typo there that I just noticed! Sorry. We are aiming at July 20, 2020. Gdoc edited as well.

[2020-07-02 08:26] mkuzak commented on #61
Conference name: BCC2020
Conference website:https://bcc2020.github.io/
Conference date(s): 19-22 July 2020
Conference time: all time zones
Other important details: relevant for life science community

[2020-07-02 09:44] Sabryr commented on #33
Do we have a Gdoc ?

[2020-07-02 09:45] psteinb commented on #33
Yes, this is currently used within carpentrycon to arrange the dates. As this is a moving target and I am not the author, I didn't feel like publishing a link to it.

[2020-07-02 15:27] lwinfree commented on #12
Hi @serahrono or @ChristinaLK is there a recommended session length for the workshops? We (the co-presenters) are looking at our schedules right now to let you all know if the proposed time for this session will work for us all. Thanks!

[2020-07-03 01:47] orchid00 commented on #25
@flor14 @dpshelio @astrojuanlu https://2020.carpentrycon.org/schedule/#session-25
estamos programados para el 3 de Agosto.

[2020-07-03 01:47] ragamouf commented on #31
wanted to leave this here as food for thought, going a little meta on the context of hosting a social meetup!  https://medium.com/states-of-change/we-ran-an-online-festival-heres-how-f4fa148cbab8

[2020-07-03 01:56] serahkiburu commented on #12
Hi @lwinfree 👋 the current recommendation is 1.5 - 2 hours, see https://github.com/carpentrycon/carpentryconhome-proposals#what-are-the-different-kinds-of-sessions-that-can-be-proposed

[2020-07-06 15:25] brownsarahm commented on #21
that works.

[2020-07-06 19:41] jyssy commented on #53
@unna97 Might you reply with your e-mail address here? I need to get out a lightning round scheduling thing. thank you

[2020-07-06 20:09] kbjornen commented on #14
Updated abstract:

Growing Carpentries through a Growing Community
 
Non-profits and volunteer led organizations are subject to a predictable lifecycle.  The early excitement of new ideas is generated by a small group.  This early energy is slowly replaced by growth and stability sustained by a larger group through creation of some form of governance and management.  Local Carpentries organization

[2020-07-07 07:00] unna97 commented on #53
Sure.
unnati97@gmail.com

[2020-07-07 14:06] jyssy commented on #53
thanks @unna97, e-mail coming with scheduling matrix for the lightning round. cheers

[2020-07-07 23:04] ChristinaLK commented on #27
@JordanPedersen sorry for the late follow up! Can you send me your email - I'm ckoch5@wisc.edu - so I can send you the scheduling doc and add you to our list of email addresses?

[2020-07-13 13:46] reid-a commented on #33
So I have been busy for the past week, and am just now coming back to this -- it appears there are two CarpentryCon HPC breakouts scheduled for July 20, 2020, at 07h00 UTC and 15h00 UTC, based on the CarpentryCon [schedule](https://2020.carpentrycon.org/schedule/) with a good agenda and a link to an Etherpad.

Thanks for setting that up, looking forward to the connection details.

[2020-07-14 10:09] ocaisa commented on #33
@psteinb @reid-a @Sabryr @tkphd @anandagk @prosoitos @AnnBackhaus @levlafayette @orchid00 @methylnick @megan-guidry

Hi to all who've shown interest, as an update from our side, we've added the proposed agenda to [the session etherpad](https://pad.carpentries.org/cchome-hpc-carpentry). Please go sign up and check things out there.

Note that there is a section in there called **"Please help us!"**

[2020-07-16 13:39] ChristinaLK commented on #27
@JordanPedersen following up again - can you send me your email so we can make sure you're in the loop on all presenter emails?

[2020-07-16 13:41] ChristinaLK commented on #41
@map0logo we will be doing some general promotion as we are for all Carpentries sessions.

If you're still looking for helpers, I would recommend reaching out in the Carpentries slack, either the #general channel or the #carpentrycon channel to see if anyone is interested.

[2020-07-16 13:59] map0logo commented on #41
Thanks!

My plan is to start a project based on Carpentries lessons template and the
ask for helpers.

Regards

El jue., 16 de jul. de 2020 09:41, Christina K. <notifications@github.com>
escribió:

[2020-07-22 13:26] malvikasharan opened #67 "[Lightning talk] "Dear Volunteers, this is a friendly love letter for you!""
## Title of the session: A friendly love letter for the volunteer

### Session details

* Session type: Lightning talk

* Keywords: Community, volunteers, self care

* Permission to record this session: yes

### Abstract

* As this is a volunteer-driven community, I will take this lightning talk as an opportunity to read a letter for the volunteers appreciating them for their work, acknowledging t

[2020-07-22 13:55] malvikasharan opened #68 "[Lightning talk] The Turing Way: An open source guide on reproducible, ethical, collaborative and inclusive data science"
## Title of the session: A friendly love letter for the volunteer

### Session details

* Session type: Lightning talk

* Keywords: Community, volunteers, data science

* Permission to record this session: yes

### Abstract

The Turing Way is a community-driven book project that involves and supports a diverse research community in ensuring that reproducible and ethical data research is "too easy

[2020-07-23 10:55] orchid00 commented on #25
Aqui esta el etherpad pueden ir anotandose https://pad.carpentries.org/cchome-social-espanol

[2020-07-27 16:02] annajiat commented on #59
@BinxiePeterson
If you would allow, I have volunteered to be the host for your session at [https://docs.google.com/spreadsheets/d/1Hm-6i71AjDgKSjaQ9KZHD-oFEu5l01z6fwfVtXywZ6U/edit#gid=540367092]

It would be great to be a part of the hosts for the exciting session along with @tobyhodges

[2020-07-27 18:06] BinxiePeterson commented on #59
Thank you Annajiat, I would greatly appreciate it! Looking forward to seeing you tomorrow.

[2020-08-03 17:12] #67 closed

[2020-08-04 12:14] serahkiburu commented on #16
@aojsoft your session is currently underway here https://carpentries.zoom.us/my/carpentriesroom3 and we are waiting for you. Please join as soon as you can

[2020-08-05 21:48] annajiat commented on #27
Hi @JordanPedersen ,

We hope that you are doing well and are excited about your team's participation in the CarpentryCon @ Home with your session.

Your CC@Home Session # 27: "Making a case for Carpentries Membership to your institution" is scheduled within the next few days. Here are the details you will need to get prepared for your session:

Date: Tuesday, 11 August 2020 (time and other detail

[2020-08-05 21:57] annajiat commented on #41
Dear Francisco Palm @map0logo

We hope that you are doing well and are excited about participation in the CarpentryCon @ Home with your session.

Your CC@Home Session # 41: "Spyder 4 Carpentries" is scheduled in less than two weeks. Here are the details you will need to get prepared for your session:

Date: Wednesday, 19 August 2020 (time and other details in the Etherpad)

[Etherpad for your sess

[2020-08-06 01:04] map0logo commented on #41
Hi Annajiat,

I'm very excited with my participation in Carpentry Con @Home.

I've started to prepare mi workshop on a github repository using
Carpentries lesson's template.

I'll share with you in couple of days when I figure out the episodes
organization.

My main concern are the problems that I'm having very frequently with
Internet and Electrical services. So I'm trying to elaborate the worksh

[2022-11-11 02:07] #43 closed